<div class="cutstom">
    <div class="banner">
        <img class="w-100" style="height:650px; object-fit: cover;" src="https://images5.alphacoders.com/106/1063714.jpg" alt="">
        <div class="source-model">
            <a href="">HOME /</a> <span>CUSTOM SOLUTIONS</span>
        </div>
        <div class="contai-model">
            <h3>LAMBORGHINI</h3>
            <h1>CUSTOM SOLUTIONS</h1>
        </div>
    </div>

    <div class="customization">
            <div class="customization-conten">
                <h2>CUSTOMIZATION</h2>
                <p>The Ad Personam customisation program is available for the Huracán and Aventador, giving customers the chance to create their own personal Lamborghini, making it extra special and meeting any wish.Customers wishing to take advantage of the customisation program can design their own vehicle directly with Ad Personam Studio, the area dedicated to customisation based at the Sant’Agata Bolognese HQ.</p>
                <ul class="list-model-lambor" style="padding-left: 0px;">
                    <li><a class="link3" href="">DISCOVER MORE</a></li>
                </ul>
            </div>
            <img style="height:400px; width:40%; object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/ad_personam/ad_personam_slide_01_m.jpg" alt="">
    </div>
    <div class="customization-image">
        <img class="customzation1" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/gateway/ynl/s/ynl_s1_03_m.jpg" alt="">
        <img class="customzation2" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/gateway/ynl/s/ynl_s1_02_m.jpg" alt="">
    </div>
    <div class="accessories">
        <img src="/img/Screenshot 2023-05-06 235605.jpg" alt="">
        <div class="accessories-conten">
            <h2>ACCESSORIES</h2>
            <p>Accessori Originali Automobili Lamborghini allows you to express your personality to the fullest and make your Lamborghini even more unique.The goal remains the same: to exceed our customers’ expectations of quality and service. Each and every accessory features outstanding quality, breakthrough technology, Lamborghini signature design, and the utmost attention to the smallest details.</p>
            <ul class="list-model-lambor" style="padding-left: 0px;">
                <li><a class="link3" href="">DISCOVER MORE</a></li>
            </ul>
        </div>
    </div>
    <div class="financial">
        <div class="financial-conten">
            <h2>CUSTOMIZATION</h2>
            <p>The Ad Personam customisation program is available for the Huracán and Aventador, giving customers the chance to create their own personal Lamborghini, making it extra special and meeting any wish.Customers wishing to take advantage of the customisation program can design their own vehicle directly with Ad Personam Studio, the area dedicated to customisation based at the Sant’Agata Bolognese HQ.</p>
            <ul class="list-model-lambor" style="padding-left: 0px;">
                <li><a class="link3" href="">DISCOVER MORE</a></li>
            </ul>
        </div>
        <div class="financial-image">
            <img class="financial1" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/gateway/ynl/s/ynl_s2_03.jpg" alt="">
            <img class="financial2" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/gateway/ynl/s/ynl_s2_02.jpg" alt="">
        </div>
    </div>
</div>