<div class="detailcutstom">
    <div class="banner">
        <div class="source-model">
            <a href="">HOME /</a> <a href="">CUSTOM SOLUTIONS /</a> <span>CUSTOMIZATION</span>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators " >
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="height:600px;object-fit: cover;"src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/news/2019/06_04_Huracan_performante/Cover_Perfomante_Spyder_Ad_Personam.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                <h3>LAMBORGHINI</h3>
                <h1>AD PERSONAM</h1>
                </div>
            </div>
        <div class="carousel-item">
            <img class="d-block w-100"style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/ad_personam/ad_personam_slide_02.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>LAMBORGHINI</h3>
                <h1>AD PERSONAM</h1>
            </div>
        </div>
        <div class="carousel-item">
        <img class="d-block w-100"style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/ad_personam/ad_personam_slide_03.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>LAMBORGHINI</h3>
                <h1>AD PERSONAM</h1>
            </div>
        </div>
    </div>
    </div>
    <div class="trailer ">
        <div class="trailer-bg">
            <video  id="myVideo3"  src="/video/ad persoman.mp4" controls autoplay></video>
        </div>
    </div>
    <div class="model-list pt-5">
        <div class="aventador" style="display:flex">
            <div class="aventador-conten">
                <h2>MAKE IT UNIQUE MAKE IT YOURS</h2>
                <p> The Aventador has been created to anticipate the future, as demonstrated by the use of innovative technology, including a V12 engine and the extensive use of carbon fiber.
                The authentic design masterpieces together stark dynamism with aggression to produce a cutting edge carbon fiber monocoque. The interior of the Aventador combines high-level technology and luxury equipment with premium-quality materials, skilfully crafted with the expertise characteristic of the finest Italian traditions. A supercar family that has already become a legend in its own right. Discover technical specifications, dimensions, performance, and the detailed features of all the new Lamborghini Aventador models.</p>
            </div>
            <div class="aventador-image" >
                <img src="/img/ad.jpg" class="aventador1"  alt="">
                <img src="/img/ad-1.jpg" style="" class="aventador2" alt="">
            </div>
        </div>
        <div class="huracan">
            <div class="huracan-image">
                <img src="/img/ad-make.jpg" class="huracan1" alt="">
                <img src="/img/ad-make1.jpg" class="huracan2"  alt="">
            </div>
            <div class="huracan-conten">
                <h2>AD PERSONAM STUDIO</h2>
                <p>From our past, we've learned perfection. This is how the first model of the Lamborghini Huracán was born. More performance, more control, more innovation. The Huracán is equipped with a powerful V10 engine and the latest technologies to perform at its absolute best. Engineered to guarantee the best performance and control under any driving condition, it's easy to take to the limit, not to mention extremely fun, thanks to technology like the Lamborghini Doppia Frizione (LDF) dual clutch gearbox and the electronically-controlled four-wheel drive. Enjoy the best driving experience, ever. Discover all the Lamborghini Huracán models.</p>
            </div>
        </div>   
    </div>
    <video class="w-100 bg-dark" style="height:700px;object-fit: cover; " id="myVideo2" src="/video/Aventador-banner.mp4"  controls autoplay></video> 
    <div class="solutions">
       <div class="company">
            <img  src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/2023/03_29_revuelto/gate_models_s_02_m.jpg" alt="">
            <div class="company-title">
                <h3>LAMBORGHINI</h3>
                <h2>MODELS</h2>
            </div>
       </div>
       <div class="personam">
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/gateway-family/concept/2020_06/c_overview_01_M.jpg" alt="">
            <div class="personam-title">
                <h3>LAMBORGHINI</h3>
                <h2>DESIGN</h2>
            </div>
       </div> 
    </div>
   
   
</div>
<script>
  var video = document.getElementById("myVideo3");
  video.removeAttribute("controls"); 
  video.controls = false; 
  video.loop=true;
  video.muted = true; 
  video.controlsList = "nodownload"; 
</script>
<script>
  var video = document.getElementById("myVideo2");
  video.removeAttribute("controls"); 
  video.controls = false; 
  video.loop=true;
  video.muted = true; 
  video.controlsList = "nodownload"; 
</script>
