<div class="detailownership">
    <div class="banner">
        <div class="source-model">
            <a href="">HOME /</a> <a href="">OWNERSHIP /</a> <span>LAMBORGHINI CONNECT</span>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators " >
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/connectivity/landing/hero/connectivity_hura_slide_01.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                    <h3>LAMBORGHINI</h3>
                    <h1>AD PERSONAM</h1>
                    </div>
                </div>
            <div class="carousel-item">
                <img class="d-block w-100"style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/connectivity/landing/hero/connected_car_slide_01.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>LAMBORGHINI</h3>
                    <h1>AD PERSONAM</h1>
                </div>
            </div>
            <div class="carousel-item">
            <img class="d-block w-100"style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/connectivity/landing/s/connected_car_s_01_m.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>LAMBORGHINI</h3>
                    <h1>AD PERSONAM</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="conten-vehicles">
        <div class="title-vehicles">
            <div class="vehicles-performance">
                <h2>LAMBORGHINI CONNECT</h2>
                <p>The journey is more important than the destination. That’s why Automobili Lamborghini is constantly committed to improving the driving experience, paving the way to new horizons that look to the future of mobility. Lamborghini connected services can be used from the moment you get in the car via the Lamborghini Infotainment System (LIS), an intuitive system that accesses information directly from the Web and allows you to manage it quickly and easily. The experience doesn’t stop upon reaching your destination but also continues remotely.</p>
            </div>
            <img class="img1" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_gw/aventador/2023/02_09_refresh/aven_gate_s_01_m.jpg" alt="">
        </div>
        <div class="vehicles-img">
            <img class="img2" src="https://congluan-cdn.congluan.vn/files/huyhoang/2020/11/05/lamborghini-aventador-s-yamamoto-4-0823.jpg" alt="">
            <img class="img3" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_gw/aventador/2023/02_09_refresh/aven_gate_s_02_m.jpg" alt="">
        </div>
        <div class="vehicles-design">
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_gw/aventador/2023/02_09_refresh/aven_gate_s_04_m.jpg" alt="">
            <div class="conten-design">
                <h2>CONNECT REMOTELY WHENEVER YOU WANT</h2>
                <p>The Lamborghini UNICA app is the key to accessing an exclusive and personalized experience. Reserved for Lamborghini customers, the app allows you to conveniently and simply manage, command and control your car remotely from wherever you are. In addition, with its innovative services, Lamborghini UNICA allows you to receive the latest updates from the Sant’Agata Bolognese company in preview and gives you access to exclusive content and events.</p>
            </div>
        </div>
    </div>
    <div class="revuelto">
        <div class="revuelto-conten">
            <img src="/img/revuelto.jpg" alt="">
            <p>Lamborghini Urus is the world’s first Super Sport Utility Vehicle, in which luxury, sportiness and performance meet comfort and versatility. It offers best-in-class driving dynamics, alongside its unmistakable elegance of design. Urus embodies the characteristics of multiple souls: sporty, elegant and off-road, and has a suitability for everyday driving in a range of environments. With its surprisingly distinct engine sound, combined with high performance, Lamborghini Urus is anything but typical.</p>
        </div>
        <div class="revuelto-image">
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/connected_car/2023/revuelto/connect_revuelto_over_rev_01_m.jpg"   alt="">
        </div>
    </div>
    <div class="huracan-connect">
        <img class="huracan-connect-image" src="https://images.hdqwalls.com/download/lamborghini-huracan-sto-photoshoot-5k-jr-2048x2048.jpg" alt="">
        <div class="conncet-conten">
            <img src="/img/huracan-conncet.jpg" alt="">
            <p>The Urus embodies a visionary concept through the realization of a Super Sport Utility Vehicle born from pure Lamborghini DNA. In the Lamborghini Urus S, performance, design and exclusivity are evolved, revealing even greater strength and a heightened perception of luxury. Urus S is the most accomplished super SUV, one that combines maximum capability and comfort on any terrain and road condition. Get ready to experience an elevated luxury lifestyle in the newest Lamborghini SSUV.</p>
                <ul style=" padding-left: 0px;" class="list-model-lambor">
                    <li><a class="link3" href="">DISCOVER MAIN FEATURES</a></li>
                </ul>
        </div>
    </div>
    <div class="urus-connect">
        <div class="urus-conten">
            <img src="/img/urus-connect.jpg" alt="">
            <p>Thanks to state-of-the-art connectivity with exclusive navigation, comfort, safety and entertainment features, the driving experience with Urus reaches unparalleled levels both onboard and remotely.</p>
            <ul style=" padding-left: 0px;" class="list-model-lambor">
                    <li><a class="link3" href="">DISCOVER MAIN FEATURES</a></li>
            </ul>
        </div>
        <div class="urus-conncet-image">
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/connected_car/2022/08_19_urus_perf/connect_over_rev_01_m.jpg"   alt="">
        </div>
    </div>
    <div class="remote-connect">
        <img class="remote-connect-image" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/connectivity/landing/over/connected_over_03.jpg" alt="">
        <div class="conncet-conten">
            <h2>REMOTE CONNECTED SERVICES TUTORIALS</h2>
            <p>Learn how the connected services of Urus and Huracán work with Lamborghini Unica.</p>
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>
    </div>
</div>