<div class="detailmotorsport">
    <div class="banner">
        <div class="source-model">
            <a href="">HOME /</a> <a href="">MOTORSPORT /</a> <span>NEWS</span>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators " >
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/connectivity/landing/hero/connectivity_hura_slide_01.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                <h3>SUPER TROFEO</h3>
                <h1>EUROPE</h1>
                <button type="button" class="btn btn-outline-light">Light</button>
                </div>
            </div>
        <div class="carousel-item">
            <img class="d-block w-100"style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/connectivity/landing/hero/connected_car_slide_01.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>SUPER TROFEO</h3>
                <h1>EUROPE</h1>
                <button type="button" class="btn btn-outline-light">Light</button>
            </div>
        </div>
        <div class="carousel-item">
        <img class="d-block w-100"style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/connectivity/landing/s/connected_car_s_01_m.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>SUPER TROFEO</h3>
                <h1>EUROPE</h1>
                <button type="button" class="btn btn-outline-light">Light</button>
            </div>
        </div>
    </div>
    </div>
    <div class="motorsport-news container-fuild p-5">
        <h1>NEWS</h1> 
        <div class="motosport-news-list row pt-5 pl-5 " >
            <div class="motorsport-news-item col d-flex justify-content-center p-0">
                <div class="card-item card" style="width: 410px;">
                    <img class="card-img-top" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/news/2023/03_17_scv12/cover_d.jpg" alt="Card image cap" style="width:100%; height: 200px;object-fit: cover;">
                    <div class="card-title card-body">
                        <span>17 MARCH 2023</span>
                        <a href="" class="card-contai"><h2>Lamborghini returns to Florida for Sebring 12 Hours with Huracán GT3 EVO2</h2></a>
                        <a href="#" class="read-more">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="motorsport-news-item col d-flex justify-content-center p-0">
                <div class="card-item card" style="width: 410px;">
                    <img class="card-img-top" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/news/2023/02_24-daytona/cover_d.jpg" alt="Card image cap" style="width:100%; height: 200px;object-fit: cover;">
                    <div class="card-title card-body">
                        <span>28 FEBRUARY 2023</span>
                        <a href="" class="card-contai"><h2>Lamborghini Essenza SCV12 calendar for 2023 revealed</h2></a>
                        <a href="#" class="read-more">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="motorsport-news-item col d-flex justify-content-center">
                <div class="card-item card" style="width: 410px;">
                    <img class="card-img-top" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/news/2023/01_27_daytona/daytona_cover.jpg" alt="Card image cap" style="width:100%; height: 200px;object-fit: cover;">
                    <div class="card-title card-body">
                        <span>27 JANUARY 2023</span>
                        <a href="" class="card-contai"><h2>Latest Huracán GT3 EVO2 to make racing debut at iconic Daytona 24 Hours</h2></a>
                        <a href="#" class="read-more">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new">
        <div class="new-image pt-5 pb-5">
            <img src="/img/bg-motor.jpg" alt="">
        </div>
        <div class="new-conten container">
            <h2>SUPER TROFEO EUROPE</h2>
            <p>The fourteenth edition of the Lamborghini Super Trofeo Europe will kick off this year in Imola on the first weekend of May. As well as the one-make championship, the Italian racing circuit will also host one of the rounds of the European Le Mans Series. The second round of the Super Trofeo is scheduled for June 2-4 on Circuit Paul Ricard in Le Castellet, France.
            The third round will be held in the traditional setting of Spa-Francorchamps, held in the same venue as the 24 Hours GT event, on June 29-July 1. The Belgian circuit is the only one to have hosted every edition of the Lamborghini Super Trofeo Europe. The German round will be held at the end of July at Nürburgring. 
            The penultimate round of the series will see the teams racing at Circuit Ricardo Tormo in Valencia, Spain, on the weekend of September 15-17.
            The sixth round and the traditional Grand Finals will come back to Italy to the Vallelunga circuit in Rome in mid-November, the third time that the Lamborghini Finals have been held here after 2013 and 2018.</p>
        </div>
    </div>
    <div class="motorsport-models-image">
            <img class="image1" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/Squadra%20Corse/Motorsport/layout/s/6_b_new.jpg" alt="">
            <img class="image2" src="https://hips.hearstapps.com/hmg-prod/images/lamborghini-sc18-alston-1542395842.jpg" alt="">
    </div>

</div>