
<div class="detailmodel">
    <div  class="banner">
       <video id="myVideo"  src="/video/(128) Aventador LP780-4 Ultimae_ It Takes Time To Become Timeless - YouTube - Google Chrome 2023-03-28 00-34-34 (online-video-cutter.com).mp4" controls autoplay></video>
        <div class="source-model">
            <a href="">HOME /</a> <a href="">MODELS /</a> <a href="">MODELS URUS /</a><span>URUS S</span>
        </div>
        <div class="contai-model">
            <h3>URUS S</h3>
            <h1>FOR BAR RAISERS ONLY </h1>
        </div>
        <div class="information">
            <div class="parameter row-sm d-flex">
                <div class="col-sm-6">POWER (CV) / POWER (KW)</div>
                <div class="col-sm-4">MAX. SPEED</div>
                <div class="col-sm-4">0-100 km/h</div>
            </div>
            <div class="index-detail row-sm d-flex">
                <div class="col-sm-6">666 CV / 490 kW</div>
                <div class="col-sm-4">305 km/h</div>
                <div class="col-sm-4">3.5s</div>
            </div>
        </div>
    </div>
    <div class="augmented">
        <img src="/img/urus_s_ar.jpg" alt="">
        <div class="augmented-conten">
            <h2>AUGMENTED REALITY</h2>
            <p>Frame the QR code with your smartphone and turn on the Lamborghini Augmented Reality experience.</p>
            <img src="/img/qr_code_urus.jpg" alt="">
        </div>
    </div>
    <div class="trailer">
        <div class="trailer-bg">
            <video id="myVideo1"  src="/video/trailer-urus.mp4" controls autoplay></video>
        </div>
    </div>
    <div class="overview">
        <img src="/img/overview-urus.jpg " alt="">
        <div class="overview-conten">
            <h2>OVERVIEW</h2>
            <p>The Urus embodies a visionary concept through the realization of a Super Sport Utility Vehicle born from pure Lamborghini DNA. In the Lamborghini Urus S, performance, design and exclusivity are evolved, revealing even greater strength and a heightened perception of luxury. Urus S is the most accomplished super SUV, one that combines maximum capability and comfort on any terrain and road condition. Get ready to experience an elevated luxury lifestyle in the newest Lamborghini SSUV.</p>
        </div>
    </div>
    <div class="exterior">
        <div class="exterior-conten">
            <h2>EXTERIOR</h2>
            <p>The design of the Urus S retains the muscular surfaces and confident lines of the Urus but with even greater sculptural definition to its shape. Both the front and rear bumpers present a more emphatic design, along with the new wheel arches and a carbon fiber painted hood. Fine details include a fresh treatment to the 23” and 22”-inch wheels and a front steel skid plate that together add a bold and elegant stance to the exterior. Customers also have the opportunity to choose numerous options like the carbon fiber roof that further emphasizes the sporting and luxurious character of the Urus S.</p>
        </div>
        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/gateway_urus/s/2023/03_06_refresh/urus_s_s_01_m.jpg" alt="">
    </div>
    <div class="detail-image">
        <img class="image1" src="/img/noithat.jpg" alt="">
        <img class="image2" src="/img/urus ss.jpg" alt="">
    </div>
    <div class="interior">
        <img src="/img/noithat2.jpg" alt="">
        <div class="interior-conten">
            <h2>INTERIOR</h2>
            <p>The interior of the Urus S expresses contemporary sophistication through its design, offering luxurious comfort with leather surfaces, trim elements in a variety of finishes and comprehensive high-tech Lamborghini equipment. In addition, the broad range of Ad Personam options allows you to appoint this super SUV to reflect your own personal sense of style.</p>
        </div>
    </div>
    <div class="technology-list row justify-content-center p-5">
            <div class="technology-item col-sm-5">
                <h2>FEEL THE ENGINE</h2>
                <p style="width:500px">Hear and feel the unmistakable roar of Lamborghini DNA—the very heart of the Urus S</p>
                <div class="usb">
                    <img src="/img/hephone.jpg" alt="">
                    <p>Use headphones or earphones for a 8D sound experience.</p>
                </div>
            </div>
            <div class="technology-item col-md-6">
                <h2>CENTRO STILE</h2>
                <p style="width:700px" >Strong lines, extreme proportions and sophisticated luxury. The Urus S silhouette combines decisive and refined elements to express its pure Lamborghini DNA.</p>
            </div>
    </div>
    <div class="motor-sound">
            <div class="sound">
                <video  id="myVideo2" src="/video/Lamborghini Urus S _ Lamborghini.com - Google Chrome 2023-04-01 15-20-34 (online-video-cutter.com).mp4" controls ></video>
            </div>
            <img src="/img/cs_1.jpg" alt="">
    </div>
    <div class="more-image p-5">
        <div class="more-add">
             <a class="btn btn-primary "  data-toggle="collapse" href="#collapseExample"  ><i class="fa-thin fa-plus fa-sm"></i></a>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/urus/urus_s/centro_stile/cs_1.jpg" class="p-5" alt="">
                <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/urus/urus_s/centro_stile/cs_2.jpg" class="p-5"  alt="">
            </div>
        </div>
    </div>
    <div class="connect-with">
        <img src="/img/noithat3.jpg" alt="">
        <div class="connect-with-your">
            <div class="detail-connect">
                <h2>CONNECT WITH YOUR URUS S</h2>
                <p>Its state-of-the-art navigation, comfort, safety and entertainment features are the elements of both onboard and remote connectivity that make driving your Urus S an unparalleled experience.</p>
                <div class="buttom-more ">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample4"><i class="fa-thin fa-plus fa-lg"></i></button>
                    <span>Connected Services of URUS</span>
                </div>                
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
            <h2>CONNECTED NAVIGATION SERVICES</h2>
            <span>Real-time travel, route and destination updates.</span>
            <ul>
                    <li>Online Smart Routing</li>
                    <li>First/Last Mile Navigation</li>
                    <li>Traffic Light information</li>
                    <li>Local Hazard Information</li>
                    <li>Wechat POI Integration</li>
                    <li>Online POI Search</li>
                    <li>Over the Air Map Update</li>
                    <li>Real Time traffic Information</li>
                    <li>3D City View</li>
                    <li>Satellite Maps</li>
                    <li>Google POI Search</li>
                    <li>Google Voice Search</li>
            </ul>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                <h2>PEACE OF MIND</h2>
                <span>The maximum convenience in managing the status and condition of your car. Your Urus at your fingertips whenever and wherever you want.</span>
                    <ul>
                        <li>Vehicle Status Report</li>
                        <li>Remote Lock / Unlock</li>
                        <li>Remote Horn and Light</li>
                        <li>Car Finder</li>
                        <li>Remote Trip Statistics</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="row p-5">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample5">
            <div class="card card-body">
                <h2>SAFETY AND SECURITY</h2>
                <span>Advanced assistance services for monitoring the car and ensuring the safety of the people onboard.</span>
                <ul>
                        <li>Era-Glonass</li>
                        <li>Anti Theft Alarm Notification</li>
                        <li>Valet Alert</li>
                        <li>Curfew Alert</li>
                        <li>Speed Alert</li>
                        <li>Geofencing Alert</li>
                        <li>Private Emergency Call</li>
                        <li>Online Roadside Assistance</li>
                        <li>Stolen Vehicle Locator</li>
                        <li>Lamborghini Connect Vehicle Tracking System</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample4">
                <div class="card card-body">
                <h2>ENTERTAINMENT</h2>
                <span>Cutting-edge features that make the travel experience even more enjoyable and engaging.</span>
                    <ul>
                        <li>Hybrid Radio</li>
                        <li>Online Radio</li>
                        <li>Song Recognition</li>
                        <li>Smartphone Interface</li>
                        <li>Natural Language Interaction</li>
                        <li>Wi-Fi Hotspot</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="technical">
        <h2>TECHNICAL SPECIFICATIONS</h2>
        <ul>
            <li>
                <span class="title">DISPLACEMENT</span>
                <span class="infomation">3,996 cm³ (243.85 cu in)</span>
            </li>
            <li>    
                <span class="title">MAX. POWER</span>
                <span class="infomation">666 CV (490 kW) @ 6,000 rpm</span>
            </li>
            <li>
                <span class="title">TOP SPEED</span>
                <span class="infomation">305 km/h</span>
            </li>
            <li> 
                <span class="title">ACCELERATION 0-100 KM/H (MPH 0-62)</span>
                <span class="infomation">3.5 s</span>
            </li>
            <li>
                <span class="title">COMBINED CONSUMPTION*</span>
                <span class="infomation">14,1 l/100km (WLTP)</span>
            </li>
            <li>
                <span class="title">COMBINED CO2 EMISSIONS*</span>
                <span class="infomation">320 g/km (WLTP)</span>
            </li>
                <p class="p-5">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse1" aria-expanded="false" aria-controls="multiCollapseExample6 multiCollapseExample7 multiCollapseExample8 multiCollapseExample9 multiCollapseExample10 multiCollapseExample11 multiCollapseExample12"></button>
                </p>
        </ul>
                <div class="row">
                        <div class="collapse multi-collapse1 col-md-6 p-5 " id="multiCollapseExample6">
                                <div class="expand">
                                    <h2>CONSUMPTION</h2>
                                        <ul>
                                            <li>
                                            <span>COMBINED CONSUMPTION*</span>
                                            <span class="expand-title">14,1 l/100km (WLTP)</span>
                                            </li>
                                            <li>
                                            <span>COMBINED CO2 EMISSIONS*</span>
                                            <span class="expand-title">320 g/km (WLTP)</span>
                                            </li>
                                        </ul>
                                </div>
                        </div>
                        <div class="collapse multi-collapse1 col-md-6 p-5 " id="multiCollapseExample7">
                                <div class="expand ">
                                    <h2>WHEELS</h2>
                                        <ul>
                                            <li>
                                            <span>FRONT RIMS</span>
                                            <span class="expand-title">9,5Jx21" ET28</span>
                                            </li>
                                            <li>
                                            <span>REAR RIMS</span>
                                            <span class="expand-title">10,5Jx21" ET18</span>
                                            </li>
                                            <li>
                                            <span>FRONT TIRES</span>
                                            <span class="expand-title">PIRELLI P ZERO 285/45 ZR21</span>
                                            </li>
                                            <li>
                                            <span>REAR TIRES</span>
                                            <span class="expand-title">PIRELLI P ZERO 315/40 ZR21</span>
                                            </li>
                                        </ul>
                                </div>
                        </div>

                </div>
    </div>
    <div class="wrapper">
           <div class="containers p-0">
               <div class="slideshow">
                    <div class="slideshow-left">
                        <div class="Lslide">
                            <div class="Lslide-content">
                                <h2 style="color: #000;">Probably not</h2>
                                <p style="color: #000;">Be a part of our creation</p>
                                <div class="button">
                                    <a href="#">
                                        <p>More</p>
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="Lslide" >
                            <div class="Lslide-content">
                                <h2 style="color: #000;">But not today</h2>
                                <p style="color: #000;">Be a part of our creation</p>
                                <div class="button">
                                    <a href="#">
                                        <p>More</p>
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="Lslide" >
                            <div class="Lslide-content">
                                <h2 style="color: #000;">Probably not</h2>
                                <p style="color: #000;">Be a part of our creation</p>

                                <div class="button">
                                    <a href="#">
                                        <p>More</p>
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>    

                    </div>

                    <div class="slideshow-right">

                        <div class="Rslide">
                            <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/flower-3.jpg" alt="">
                        </div>

                        <div class="Rslide">
                            <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/flower-5.jpg" alt="">
                        </div>     
                        <div class="Rslide">
                            <img src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/flower-1.jpg" alt="">
                        </div>                                              
                    </div>    

                    
                    <div class="control">
                        <div class="oncontrol control-top">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </div>
                        <div class="oncontrol control-bottom">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </div>                          
                    </div>

               </div>

           </div>
    </div>
    <div class="dealer" style="background-color: #000;" >
        <div class="dealer-contact">
                <h2>CONTACT YOUR DEALER</h2>
            <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample"></button>
            </p>
        </div>
        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/gateway_urus/s/2022/banner/form-desktop.png" alt="">
    </div>
        <div class="collapse" id="collapseExample12">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" style="height:650px; object-fit:cover" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/gateway_urus/s/2022/urus_s_og.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" style="height:650px; object-fit:cover" src="https://medialamborghini-meride-tv.akamaized.net/meride/lamborghini/video/images/folder1/1140/snap_hero_01.png" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100 " style="height:650px; object-fit:cover" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/gateway_urus/s/2023/03_06_refresh/urus_s_01.jpg" alt="Third slide">
            </div>
        </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
</div>
<script>
        var Lslide      = document.querySelectorAll('.Lslide'),
        Rslide      = document.querySelectorAll('.Rslide'),
        control     = document.querySelectorAll('.oncontrol'),
        slideHeight = document.querySelector('.wrapper').clientHeight,
        color = ['#fff', '#fff', '#fff'],
        index = 0;


    function init() {
        slideHeight = document.querySelector('.wrapper').clientHeight;
        for (i = 0; i < Lslide.length; i++) {
            Lslide[i].style.backgroundColor = color[i];
            Lslide[i].style.top = -slideHeight * i + "px";
            Rslide[i].style.top = slideHeight * i + "px";
        }  
    }
    init()
    window.addEventListener('resize', function(){
        init()
    });

    function moveToTop() {

        index++;
        for (el = 0; el < Lslide.length; el++) {
            Lslide[el].style.top = parseInt(Lslide[el].style.top) + slideHeight + "px";
            Rslide[el].style.top = parseInt(Rslide[el].style.top) - slideHeight + "px";
        }

        if (index > Lslide.length-1) {
            index = 0;
            for (el = 0; el < Lslide.length; el++) {
                Lslide[el].style.top = -slideHeight * el + "px";
                Rslide[el].style.top = slideHeight * el + "px";
            }
        }
    }

    function moveToBottom() {
        index--;
        for (el = 0; el < Lslide.length; el++) {
            Lslide[el].style.top = parseInt(Lslide[el].style.top) - slideHeight + "px";
            Rslide[el].style.top = parseInt(Rslide[el].style.top) + slideHeight + "px";
            
        }
        if (index < 0) {
            index = Rslide.length-1;
            for (el = 0; el < Lslide.length; el++) {
                Lslide[el].style.top = parseInt(Lslide[el].style.top) + slideHeight * Lslide.length + "px";
                Rslide[el].style.top = parseInt(Rslide[el].style.top) - slideHeight * Rslide.length + "px";
            }
        }
    }

    function transition() {
        for (t = 0; t < Lslide.length; t++) {
            Lslide[t].style.transition = "all 0.8s";
            Rslide[t].style.transition = "all 0.8s";
        }
    }
    

    for (t = 0; t < control.length; t++) {
        control[t].addEventListener("click", function() {

            if (this.classList.contains('control-top')) {
                moveToTop()
            } 
            if (this.classList.contains('control-bottom')) {
                moveToBottom()
            }

            transition()
    
        });
    }

    var wheeling;
    function mousemouve(e) {

        clearTimeout(wheeling);
        e.preventDefault();
        var e = window.event || e; 
        var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
        
        wheeling = setTimeout(function() {
            wheeling = undefined;
            if (delta === 1) {
                moveToTop()
            }
            if (delta === -1) {
                moveToBottom()
            }
        }, 100);

        transition()
    }

    document.addEventListener("mousewheel", mousemouve);
    document.addEventListener("DOMMouseScroll", mousemouve);
</script>
<script>
  var video = document.getElementById("myVideo");
  video.removeAttribute("controls"); 
  video.controls = false; 
  video.loop=true;
  video.muted = true; 
  video.controlsList = "nodownload"; 
</script>

<script>
  var video = document.getElementById("myVideo1");
  video.removeAttribute("controls"); 
  video.controls = false; 
  video.loop=true;
  video.muted = true; 
  video.controlsList = "nodownload"; 
</script>

<script>
var video = document.getElementById("myVideo2");

video.removeAttribute("controls");
video.controls = false;9
video.muted = true;
video.controlsList = "nodownload";

video.addEventListener("click", function() {
  if (video.paused) {
    video.play();
    video.muted = false;
  } else {
    video.pause();
    video.currentTime = 0;
  }
});

video.addEventListener("ended", function() {
  video.currentTime = 0;
});

</script>

