<div class="motorsport">
    <div class="banner">
        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/Squadra%20Corse/Motorsport/10_05/slide_motorsport_01.jpg" alt="">
        <div class="source-motorsport">
            <a href="">HOME /</a> <span>OWNERSHIP</span>
        </div>
        <div class="contai-motorsport">
            <h3>LAMBORGHINI</h3>
            <h1>SQUADRA CORSE</h1>
        </div>
    </div>
    <div class="motorsport-news container-fuild p-5"> 
        <div class="motosport-news-list row pt-5 pl-5 " >
            <div class="motorsport-news-item col d-flex justify-content-center p-0">
                <div class="card-item card" style="width: 410px;">
                    <img class="card-img-top" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/news/2023/03_17_scv12/cover_d.jpg" alt="Card image cap" style="width:100%; height: 200px;object-fit: cover;">
                    <div class="card-title card-body">
                        <span>17 MARCH 2023</span>
                        <a href="" class="card-contai"><h2>Lamborghini returns to Florida for Sebring 12 Hours with Huracán GT3 EVO2</h2></a>
                        <a href="#" class="read-more">READ MORE</a>
                    </div>
                </div>
            </div>
             <div class="motorsport-news-item col d-flex justify-content-center p-0">
                <div class="card-item card" style="width: 410px;">
                    <img class="card-img-top" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/news/2023/02_24-daytona/cover_d.jpg" alt="Card image cap" style="width:100%; height: 200px;object-fit: cover;">
                    <div class="card-title card-body">
                        <span>28 FEBRUARY 2023</span>
                        <a href="" class="card-contai"><h2>Lamborghini Essenza SCV12 calendar for 2023 revealed</h2></a>
                        <a href="#" class="read-more">READ MORE</a>
                    </div>
                </div>
            </div>
             <div class="motorsport-news-item col d-flex justify-content-center">
                <div class="card-item card" style="width: 410px;">
                    <img class="card-img-top" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/news/2023/01_27_daytona/daytona_cover.jpg" alt="Card image cap" style="width:100%; height: 200px;object-fit: cover;">
                    <div class="card-title card-body">
                        <span>27 JANUARY 2023</span>
                        <a href="" class="card-contai"><h2>Latest Huracán GT3 EVO2 to make racing debut at iconic Daytona 24 Hours</h2></a>
                        <a href="#" class="read-more">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="squadra-corse">
        <img  src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/Squadra%20Corse/Motorsport/layout/img%20sx%20-%20txt%20dx/1_m.jpg" alt="">
        <div class="squadra-corse-conten">
            <h2>SQUADRA CORSE</h2>
            <p>Squadra Corse is the name of Automobili Lamborghini’s motorsport department. It was created to offer unparalleled support to Automobili Lamborghini’s customers in the field. The cars that compete in the most prestigious GT championships all over the world are designed and produced in-house by Squadra Corse. It also organizes the Lamborghini Super Trofeo: the fastest one-make championship in the world.</p>
        </div>
    </div>
    <div class="super-trofeo">
        <div class="super-trofeo-conten">
            <img src="img/motor-logo.jpg" alt="">
            <p>Passion, performance and innovation. The Lamborghini Super Trofeo has been the pinnacle of the global one-make championship scene since 2009. The Super Trofeo is exclusively for Huracán Super Trofeo Evo model vehicles, which are racing versions of the road-approved supercars. There are three different series, in three continents: America, Asia and Europe. Every series consists of six rounds, each of which feature free practice sessions, qualifying and two races lasting 50 minutes each. There are four categories of drivers: Pro, Pro-Am, Am and Lamborghini Cup. The season culminates in the World Final, when the Lamborghini world champions are crowned.</p>
            <ul>
                <li ><a class="link3" href="">SUPER-TROFEO</a></li>
            </ul>
        </div>
        <img class="image-super" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/cars/huracan_super_trofeo_evo2/2023/over/st_evo2_over_01_m.jpg" alt="">
    </div>
    <div class="image-super-trofeo">
        <img class="img1" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/Squadra%20Corse/Motorsport/layout/s/gt3_evo2/s_03_gateway_motorsport_m.jpg" alt="">
        <img class="img2" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/esports/2022/over/esport_over_01_m.jpg" alt="">
    </div>
    <div class="gt-racing">
        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/customer-racing/custom_racing_over_m.jpg" alt="">
        <div class="gt-racing-conten">
            <h2>GT CUSTOMER RACING</h2>
            <p>In contrast with the Super Trofeo, GT3 championships are open to a range of constructors. There are more than 20 Automobili Lamborghini customer teams who have chosen to compete in Huracán GT3 EVO race cars. Since the Huracán GT3 launch in 2015, the cars have claimed more than 40 titles on a global scale. What better calling card could there be for Automobili Lamborghini on the GT racing scene? </p>
            <ul>
                <li><a class="link3" href="">GT3 CHAMPIONSHIP</a></li>
            </ul>
        </div>
    </div>
    <div class="motorsport-models">
        <div class="motorsport-models-title">
            <h2>MOTORSPORT MODELS</h2>
            <p>Lamborghini Squadra Corse’s cars for motorsport customers are designed and produced in-house. The construction approach used in Automobili Lamborghini supercars is also applied to race models. Concepts such as superior technology and attention to detail are taken to peerless heights for customers who compete on race tracks all over the world.</p>
            <ul>
                <li><a class="link3" href="">RACE CARS</a></li>
                <li><a class="link3" href="">ONE-OFFS</a></li>
            </ul>
        </div>
        <div class="motorsport-models-image">
            <img class="image1" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/Squadra%20Corse/Motorsport/layout/s/6_b_new.jpg" alt="">
            <img class="image2" src="https://hips.hearstapps.com/hmg-prod/images/lamborghini-sc18-alston-1542395842.jpg" alt="">
        </div>
    </div>
    <div class="experience">
        <div class="experience-title col-lg-3 col-4 offset-1">
            <h2>EXPERIENCE</h2>
            <p>Become a Lamborghini Super Trofeo driver thanks to the official Lamborghini Pilota driving course, or enjoy the exclusive experience of a Super Trofeo race weekend in the glamorous atmosphere of Lamborghini Hospitality.</p>
            <ul>
                <li><a class="link3" href="">LAMBORGHINI EXPERIENCE</a></li>
            </ul>
        </div>
        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/news/2021/05_26_st_evo2_lancio/st_evo2_lancio_cover.jpg" alt="">
    </div>
    <div class="end-banner">
        <img  src="img/end-banner.jpg" alt="">
    </div>
</div>