<div class="ownership">
    <div class="banner">
         <img src="https://images.pexels.com/photos/8664302/pexels-photo-8664302.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"  alt="">
        <div class="source-model">
            <a href="">HOME /</a> <span>OWNERSHIP</span>
        </div>
        <div class="contai-model">
            <h3>LAMBORGHINI</h3>
            <h1>OWNERSHIP</h1>
        </div>
    </div>
    <div class="connectivity">
        <img src="https://images.pexels.com/photos/6968984/pexels-photo-6968984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="connectivity-conten">
            <h1>CONNECTIVITY</h1>
            <p>Lamborghini connected services can be used from the moment you get in the car via the Lamborghini Infotainment System (LIS), an intuitive system that accesses information directly from the Web and allows you to manage it quickly and easily.</p>
            <ul>
                <li><a class="link3"  href="">DISCOVER MORE</a></li>
            </ul>
        </div>
    </div>
    <div class="customer-app">
        <div class="customer-app-connten p-5">
            <h1>CUSTOMER APP</h1>
            <p>Lamborghini UNICA is an exclusive app reserved for Lamborghini customers, enabling them to connect to the Sant’Agata Bolognese-based automaker at a simple tap of a finger.</p>
            <ul>
                <li><a href="" class="link3">DISCOVER MORE</a></li>
            </ul>
        </div>
        <div class="customer-app-image">
            <img src="https://medialamborghini-meride-tv.akamaized.net/meride/lamborghini/video/images/folder1/1093/vlcsnap-2022-06-13-11h54m18s552.png" alt="" class="app1">
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/app_clienti/dd/y_n_lambo.jpg" alt="" class="app2">
        </div>
    </div>
    <div class="classics">
        <div class="classics-conten">
            <h1>CLASSICS</h1>
            <p>With its new Polo Storico, Automobili Lamborghini sets out to keep its heritage and exclusive know-how intact. There are many services created ad hoc to preserve the integrity of the historic vehicles, with maintenance and restoration aimed at faithfully following the original characteristics of the car. The Lamborghini Historic Archive, which preserves all documents made by the House of the Raging Bull over its long history, is also of enormous value.</p>
            <ul>
                <li><a class="link3" href="">DISCOVER MORE</a></li>
            </ul>       
        </div>
        <div class="classics-image">
            <img class="class1" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/polo_storico/06_sx_m.jpg" alt="">
            <img class="class2" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/polo_storico/gallery/gallery_05.jpg" alt="">
        </div>
    </div>
</div>