 <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> 
<div class="store">
    <div class="banner">
        <div class="source-model">
            <a href="">HOME /</a> <a href="">OWNERSHIP /</a> <span>LAMBORGHINI CONNECT</span>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators " >
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/store/hero/01_19/store_hero_01.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                    <h3>LAMBORGHINI</h3>
                    <h1>AD PERSONAM</h1>
                     <button type="button" class=" btn btn-outline-light">Light</button>
                    </div>
                </div>
            <div class="carousel-item">
                <img class="d-block w-100"style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/store/hero/01_19/store_hero_03.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>LAMBORGHINI</h3>
                    <h1>AD PERSONAM</h1> 
                    <button type="button" class="btn btn-outline-light">Light</button>
                </div>
            </div>
            <div class="carousel-item">
            <img class="d-block w-100"style="height:600px;object-fit: cover;" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/face_react/store/hero/01_19/store_hero_04.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>LAMBORGHINI</h3>
                    <h1>AD PERSONAM</h1>
                     <button type="button" class=" btn btn-outline-light">Light</button>
                </div>
            </div>
        </div>
    </div>
    <h1 class="pt-5" style="margin-bottom: 0px; text-align: center;background:rgb(242,243,248);">CATALOG</h1>
    <div class="slider">
    <button id="prev" class="btn1">
        <i class="las la-angle-left"></i>
    </button>
    <div class="card-content">
        <div class="card">
        <div class="card-img">
            <img src="https://static.lamborghinistore.com/media/wysiwyg/Slider_mobile-a.jpg" alt="">
            <img class="blur" src="https://static.lamborghinistore.com/media/wysiwyg/Slider_mobile-a.jpg" alt="">
        </div>
        <div class="card-text">
            <h2>MEN</h2>
           
        </div>
        </div>
        <div class="card">
        <div class="card-img">
            <img src="https://rare-gallery.com/uploads/posts/2001415-lamborghini-model-huracan-women.jpg" alt="">
            <img class="blur"  src="https://rare-gallery.com/uploads/posts/2001415-lamborghini-model-huracan-women.jpg" alt="">
        </div>
        <div class="card-text">
            <h2>WOMEN</h2>
        </div>
        </div>
        <div class="card">
        <div class="card-img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQNqlka-LF6fhIsyCb07Laiwe0tK8VwLFfSzlm2vOwuCe9m85hawVGUS1pI3E3rvvQsPc&usqp=CAU" alt="">
            <img class="blur" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQNqlka-LF6fhIsyCb07Laiwe0tK8VwLFfSzlm2vOwuCe9m85hawVGUS1pI3E3rvvQsPc&usqp=CAU" alt="">
        </div>
        <div class="card-text">
            <h2>ACCESSORIES</h2>
        </div>
        </div>
        <div class="card">
        <div class="card-img">
            <img src="https://static.lamborghinistore.com/media/wysiwyg/LMBGST-666-I_2.jpg" alt="">
            <img class="blur" src="https://static.lamborghinistore.com/media/wysiwyg/LMBGST-666-I_2.jpg" alt="">
        </div>
        <div class="card-text">
            <h2>JUNIOR</h2>
        </div>
        </div>
        <div class="card">
        <div class="card-img">
            <img src="https://static.lamborghinistore.com/media/wysiwyg/LMB-3658-C-MOBILE_1_1.jpg" alt="">
            <img class="blur" src="https://static.lamborghinistore.com/media/wysiwyg/LMB-3658-C-MOBILE_1_1.jpg" alt="">
        </div>
        <div class="card-text">
            <h2>TOYS</h2>
        </div>
        </div>
        <div class="card">
        <div class="card-img">
            <img src="https://static.lamborghinistore.com/rx/1250x,ofmt_webp/media/catalog/product/1/6/16211KKW000000_01.jpg" alt="">
            <img class="blur" src="https://static.lamborghinistore.com/rx/1250x,ofmt_webp/media/catalog/product/1/6/16211KKW000000_01.jpg" alt="">
        </div>
        <div class="card-text">
            <h2>LIFESTYLE</h2>
        </div>
        </div>
        </div>
        <button id="next" class="btn1">
            <i class="las la-angle-right"></i>
        </button>
    </div>
    <div class="kid-collection container">
        <div class="kid-collection-conten p-5">
            <h5>NEW COLLECTION</h5>
            <h1>KIDS</h1>
            <p>Artistic flair, glitch-effect detailing and statement rubber-coated prints: explore the unequivocal elegance of the new Automobili-Lamborghini clothing collection for Kids.</p>
            <a href="#" class=" btn btn-outline-dark" role="button" aria-disabled="true">Link</a>
        </div>
        <img src="https://static.lamborghinistore.com/media/wysiwyg/BLOCCO-KIDS-HP-768x942_9.jpg" alt="">
    </div>
    <div class="bestsellesrs">
        <div class="bestsell-title p-5">
            <h1>BESTSELLERS</h1>
        </div>
        <ul class="nav nav-tabs p-5" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Clothing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Accessories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Collectible</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="card-list">
                        <li class="card">
                            <a class="card-image" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-500.jpg">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg" alt="Psychopomp" />
                            </a>
                            <a class="card-description" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank">
                                <h2>Psychopomp</h2>
                                <p>Japanese Breakfast</p>
                            </a>
                        </li>
                    </ul>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <li class="card">
                    <a class="card-image" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-500.jpg">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg" alt="let's go" />
                    </a>
                    <a class="card-description" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank">
                        <h2>let's go</h2>
                        <p>In Love With A Ghost</p>
                    </a>
                </li>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                	<li class="card">
                        <a class="card-image" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-500.jpg">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg" alt="The Beautiful Game" />
                        </a>
                        <a class="card-description" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank">
                            <h2>The Beautiful Game</h2>
                            <p>Vulfpeck</p>
                        </a>
                    </li>
            </div>
        </div>
    </div>
    
</div>
<script>
window.addEventListener('load', function() {
	setTimeout(lazyLoad, 1000);
	
});
function lazyLoad() {
	var card_images = document.querySelectorAll('.card-image');
	card_images.forEach(function(card_image) {
		var image_url = card_image.getAttribute('data-image-full');
		var content_image = card_image.querySelector('img');
		content_image.src = image_url;
		content_image.addEventListener('load', function() {
			card_image.style.backgroundImage = 'url(' + image_url + ')';
			card_image.className = card_image.className + ' is-loaded';
		});
		
	});
	
}
</script>
<script>
const next=document.querySelector('#next')
const prev=document.querySelector('#prev')

function handleScrollNext (direction) {
  const cards = document.querySelector('.card-content')
  cards.scrollLeft=cards.scrollLeft += window.innerWidth / 2 > 600 ? window.innerWidth /2 : window.innerWidth -100
}

function handleScrollPrev (direction) {
  const cards = document.querySelector('.card-content')
  cards.scrollLeft=cards.scrollLeft -= window.innerWidth / 2 > 600 ? window.innerWidth /2 : window.innerWidth -100
}

next.addEventListener('click', handleScrollNext)
prev.addEventListener('click', handleScrollPrev)
</script>